<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ParkingspaceMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.Parkingspace">
            <id property="spaceId" column="space_id" />
            <result property="location" column="location" />
            <result property="type" column="type" />
            <result property="assignedTo" column="assigned_to" />
    </resultMap>

    <sql id="Base_Column_List">
        space_id,location,type,assigned_to
    </sql>
</mapper>
