<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.Team">
            <id property="teamId" column="team_id" />
            <result property="name" column="name" />
            <result property="managerId" column="manager_id" />
    </resultMap>

    <sql id="Base_Column_List">
        team_id,name,manager_id
    </sql>
</mapper>
