<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VehicleimageMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.Vehicleimage">
            <id property="id" column="id" />
            <result property="vehicleId" column="vehicle_id" />
            <result property="name" column="name" />
    </resultMap>

    <sql id="Base_Column_List">
        id,vehicle_id,name
    </sql>
</mapper>
